body {
  font-size: 1rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-item {
  display: block;
  list-style: none;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  position: relative;
}

.sidebar .nav-link:after {
  content: '\2022';
  font-size: 40px;
  line-height: 0;
  position: absolute;
  left: -9px;
  top: 45%;
  color: transparent;
  text-shadow: 0 0 3px rgba(0,132,255,1);
  
}

.sidebar .nav-link.visited:after {
  /* content: '\25E6'; */
  /* color: #aaa; */
  content: '';
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
  text-decoration: underline;
}

.sidebar .nav-link:hover .link-title {
  text-decoration: underline;
}

.sidebar-heading {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.link-title,
.link-subheads {
  display: block;
  clear: both;
}

.link-subheads {
  font-size: 0.8rem;
}

.link-subhead:after {
  content: ' | ';
}

.link-subhead:last-child:after {
  content: '';
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.main-frame {
  position: fixed;
  top: 48px;
  right: 0;
  width: 75%;
  height: 100%;
  border: none;
}

.content-container {
  padding: 100px 50px 0 50px;
  margin: auto;
  max-width: 1024px;
  width: 100%;
}

.content-summary {
  margin: 0 0 1em 0;
  white-space: pre-wrap;
}

.content-summary img {
  max-width: 100%;
  width: 100%;
}
